<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Weath App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <section id="page">
    <header>
      <div id="logo">
        <a href="/">
          <i class="fa-solid fa-cloud-sun-rain"></i> Weather App
        </a>
      </div>
      
      {{!-- <nav>
        <ul>
          <li><a href="https://openweathermap.org/api/one-call-api">OpenWeather</a></li>
          <li><a href="https://ipstack.com/">ipstack</a></li>
        </ul>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </nav> --}}
      
    </header>
    <main>{{{body}}}</main>
    <footer></footer>
  </section>

</body>

</html>